# 忽略的目录
source/results/
Output_display/
source/results
Train_result/
exp10-new/
Predict/
docker/
.dotnet/
.vscode-server/
.gnupg/
froc_results-3D/
logs/
hu_analysis_output/
predictions_by_fold/
display_results/
horizontal_results/
rotate_results/
temp_data/
results_froc/
hu_analysis_output/
all_results/
3D_resnet_class/eval_results/
3D_resnet_class/train_results/
3D_resnet_class/MedicalNet_res_weight/
data/

# 忽略模型权重文件
Mucus/
__pycache__/
*.pyc